{% extends "layout.njk" %}

{% block content %}

        <section class="home">
            <div id="wrapper">
                <a class="text_home">
                    <h2>As melhores receitas</h2>
                    <p>Aprenda a construir os melhores pratos
                        com receitas criadas por profissionais
                        do mundo inteiro.</p>
                </a>
                <a class="img_home">
                    <img src="/chef.png" alt="chef">
                </a>
            </div>
        </section>

        <div class="titulo_card">
            <h2>Mais acessadas</h2>
        </div>

        <section class="cards">

        {% for item in receita %}
        <div class="card" id="{{item.id}}">
            <div class="card_image">
                <img src="{{item.image}}" alt="{{item.id}}">
            </div>
            
            <div class="card_content">
                <p class="card-title">{{item.title}}</p>
            </div>
            <div class="card_info">
                <p class="author">{{item.author}}</p>
            </div>
        </div>
    {% endfor %}

        </section>  
        
{% endblock content %}