{% extends "layout.njk" %}

{% block content %}
    <section class="cards" id="receitas">

    {% for item in receita %}
        <div class="card" id="{{loop.index -1}}">
            <div class="card_image">
                <img src="{{item.image}}" alt="{{item.title}}">
            </div>
            
            <div class="card_content">
                <p class="card-title">{{item.title}}</p>
            </div>
            <div class="card_info">
                <p class="author">{{item.author}}</p>
            </div>
        </div>
    {% endfor %}

    </section>  
{% endblock %}
