<!DOCTYPE html>

<html></html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../CSS/style.css">

        <title>Foodfy</title>
    </head>

    <body>
        <header>
            <div calss="links">
                <div calss="links">
                    <a class="logo" href="../index.html">
                        <img src="../assets/logo.png" alt="logo">
                    </a>
                    <a class="link" href="sobre.html">Sobre</a>
                    <a class="link" href="receitas.html">Receitas</a>
                </div>
            </div>
        </header>

        <section class="cards" id="receitas">

            <div class="card" id="burger.png">
                <div class="card_image">
                    <img src="../assets/burger.png" alt="burger">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Triplo bacon burger</p>
                </div>
                <div class="card_info">
                    <p class="author">por Jorge Relato</p>
                </div>
            </div>

            <div class="card" id="pizza.png">
                <div class="card_image">
                    <img src="../assets/pizza.png" alt="pizza">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Pizza 4 estações</p>
                </div>
                <div class="card_info">
                    <p class="author">por Fabiana Melo</p>
                </div>
            </div>

            <div class="card" id="espaguete.png">
                <div class="card_image">
                    <img src="../assets/espaguete.png" alt="espaguete">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Espaguete ao alho</p>
                </div>
                <div class="card_info">
                    <p class="author">por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="lasanha.png">
                <div class="card_image">
                    <img src="../assets/lasanha.png" alt="lasanha">
                </div>
                
                <div class="card_content"> 
                    <p class="card-title">Lasanha mac n’ cheese</p>
                </div>
                <div class="card_info">
                    <p class="author">por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="doce.png">
                <div class="card_image">
                    <img src="../assets/doce.png" alt="doce">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Docinhos pão-do-céu</p>
                </div>
                <div class="card_info">
                    <p class="author">por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card" id="asinhas.png">
                <div class="card_image">
                    <img src="../assets/asinhas.png" alt="asinhas">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Asinhas de frango ao barbecue</p>
                </div>
                <div class="card_info">
                    <p class="author">por Vania Steroski</p>
                </div>
            </div>

            <div class="card" id="burger.png">
                <div class="card_image">
                    <img src="../assets/burger.png" alt="burger">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Triplo bacon burger</p>
                </div>
                <div class="card_info">
                    <p class="author">por Jorge Relato</p>
                </div>
            </div>

            <div class="card" id="pizza.png">
                <div class="card_image">
                    <img src="../assets/pizza.png" alt="pizza">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Pizza 4 estações</p>
                </div>
                <div class="card_info">
                    <p class="author">por Fabiana Melo</p>
                </div>
            </div>

            <div class="card" id="espaguete.png">
                <div class="card_image">
                    <img src="../assets/espaguete.png" alt="espaguete">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Espaguete ao alho</p>
                </div>
                <div class="card_info">
                    <p class="author">por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="lasanha.png">
                <div class="card_image">
                    <img src="../assets/lasanha.png" alt="lasanha">
                </div>
                
                <div class="card_content"> 
                    <p class="card-title">Lasanha mac n’ cheese</p>
                </div>
                <div class="card_info">
                    <p class="author">por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="doce.png">
                <div class="card_image">
                    <img src="../assets/doce.png" alt="doce">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Docinhos pão-do-céu</p>
                </div>
                <div class="card_info">
                    <p class="author">por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card" id="asinhas.png">
                <div class="card_image">
                    <img src="../assets/asinhas.png" alt="asinhas">
                </div>
                
                <div class="card_content">
                    <p class="card-title">Asinhas de frango ao barbecue</p>
                </div>
                <div class="card_info">
                    <p class="author">por Vania Steroski</p>
                </div>
            </div>

        </section>  
        
        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <img src="" alt="0"></img>
                </div>

                <div class="modal-info">
                    <div class="modal-title"></div>
                    <div class="modal-author"></div>
                </div>

                <div>
                    <a class="close-modal">Fechar modal</a>
                </div>
                
            </div>
        </div>

        <footer>
            <div class="rodape">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>


        <script src="../JS/scripts.js"></script>

    </body>


</html>