{% extends "layout.njk" %}

{% block content %}
    <section id="cards">

    <div id="card">
      <div id="card__image">
        <img src="{{recipe.image}}">
      </div>
      <div id="card-title">
        <h1>{{recipe.title}}</h1>
      </div>
      <div id="card-author">
        <p>por {{recipe.author}}</p>
      </div>
    </div>

    <div id="ingredients" class="button">
      <div>
        <h2>Ingredientes</h2>
        <span>ESCONDER</span>
      </div>
      <div class="button-content">
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="preparation" class="button">
      <div>
        <h2>Modo de preparo</h2>
        <span>ESCONDER</span>
      </div>
      <div class="button-content">
        <ul>
          {% for preparation in recipe.preparation %}
            <li>{{preparation}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="info" class="button">
      <div>
        <h2>Informações adicionais</h2>
        <span>ESCONDER</span>
      </div>
      <div class="button-content">
        <p>{{recipe.information}}</p>
      </div>
    </div>
  </section>
{% endblock content %} 

